body {
  background: #9fcc2e;
  margin: 0;
  padding: 0;
  font-family: "Verdana";
}

// .hide {
//   display: none;
// }
.startScreen {
  h3 {
    color: white;
    background-color: purple;
  }
  .pusheen {
    border-radius: 70%;
  }
}
.header {
  display: flex;
  justify-content: center;
  font-size: 0.7em;
  animation-name: color-flex;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  -webkit-box-shadow: 0px 13px 25px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 13px 25px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 13px 25px -12px rgba(0, 0, 0, 0.75);
}

@keyframes color-flex {
  0% {
    color: red;
  }
  15% {
    color: blue;
  }
  30% {
    color: yellow;
  }
  45% {
    color: purple;
  }
  60% {
    color: black;
  }
  75% {
    color: cyan;
  }
  90% {
    color: green;
  }
  100% {
    color: red;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchQuery {
  margin: 20px;
  min-width: 80%;
  max-width: 1000px;
  height: 25px;
  text-align: center;
  border-radius: 15px;
  animation-name: size-flex;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@keyframes size-flex {
  10% {
    width: 100px;
  }
  30% {
    width: 400px;
  }
  50% {
    width: 500px;
  }
  70% {
    width: 400px;
  }
  90% {
    width: 200px;
  }
}

.submitButton {
  width: auto;
  font-weight: bold;
  font-size: 13px;
  border-radius: 15px;
  box-shadow: 0px 13px 25px -12px rgba(0, 0, 0, 0.75);
  &:hover {
    background: purple;
    color: white;
  }
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipeCard {
  margin: 20px;
  width: 80%;
  max-width: 500px;
  height: auto;
  background: #0e402d;
  display: flex;
  border-radius: 15px;

  box-shadow: 0px 13px 25px -12px rgba(0, 0, 0, 0.75);

  .recipeImage {
    border-radius: 15px 0px 0px 15px;
    height: 10em;
  }

  .recipeDescription {
    display: flex;
    flex-direction: column;
    margin-left: 7px;
    h3 {
      color: white;
      margin-top: 3px;
    }
    h4 {
      color: lightgray;
      font-style: italic;
      font-size: 0.75em;
    }
    .recipeLink {
      box-shadow: 0px 13px 25px -12px rgba(0, 0, 0, 0.75);
    }
    .recipeUrl {
      color: #black;
      background-color: white;
      width: 70px;
      border-radius: 15px;
    }
    .healthTag {
      display: flex;
      .healthButton {
        background: #9fcc2e;
        color: white;
        border: none;
        margin: 5px;
        font-size: 8px;
        border-radius: 5px;
      }
    }
  }
}
