body {
  background: #12b0fc;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.pusheen {
  width: 70%;
  max-width: 400px;
  border-radius: 70%;
  margin: 40px;
  -webkit-box-shadow: 0px 13px 25px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 13px 25px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 13px 25px -12px rgba(0, 0, 0, 0.75);
}

.startScreen {
  align-items: center;
  max-width: 80%;
  h3 {
    font-size: 0.9em;
    color: white;
    background-color: #fc9311;
    text-align: center;
  }
}
.cook {
  height: 40vh;
  margin-top: 2em;
}
.header {
  text-align: center;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 13px 25px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 13px 25px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 13px 25px -12px rgba(0, 0, 0, 0.75);
  img {
    height: 80%;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  max-width: 700px;
  margin-top: 15px;
}
.searchQuery {
  margin: 20px 0px 20px 20px;
  height: 25px;
  flex: 3;
  text-align: center;
  background: rgba(255, 255, 255, 0.925);
  border-left: 2px solid #fc9311;
  border-top: 2px solid #fc9311;
  border-bottom: 2px solid #fc9311;
  border-right: transparent;
  border-radius: 5px 0px 0px 5px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  color: rgba(243, 243, 243, 0);
  &:valid {
    color: rgb(49, 48, 48);
  }
}

.submitButton {
  flex: 1;
  height: 31px;
  border-right: 2px solid #fc9311;
  border-top: 2px solid #fc9311;
  border-bottom: 2px solid #fc9311;
  border-radius: 0px 5px 5px 0px;
  border-left: transparent;
  background: rgba(255, 255, 255, 0.979);
  box-shadow: 0px 13px 25px -12px rgba(0, 0, 0, 0.75);
  i {
    color: #fc9311;
  }
  &:hover {
    background: #fc9311;
    color: white;
    i {
      color: white;
    }
  }
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipeCard {
  margin: 13px;
  width: 80%;
  max-width: 700px;
  height: 25%;
  background: rgba(11, 168, 230, 0.705);
  display: flex;
  border-radius: 30px;
  padding: 15px;
  .recipeImage {
    box-shadow: 0px 13px 25px -12px rgba(0, 0, 0, 0.75);
    // border-radius: 15px 0px 0px 15px;
    border-radius: 50%;
    height: 100%;
    width: 33%;
    float: left;
  }

  .recipeDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 1em;
    h3 {
      color: white;
      margin: 3px 0px 3px 0px;
      font-size: 1.2em;
    }
    h4 {
      font-size: 1em;
      color: lightgray;
      font-style: italic;
      font-size: 0.75em;
      margin: 3px 0px 3px 0px;
    }
    .recipeLink {
    }
    .recipeUrl {
      color: #black;
      background-color: rgb(255, 255, 255);
      width: auto;
      border-radius: 5px;
      border: 1px solid #fc9311;
      margin: 3px 0px 3px 0px;
      &:hover {
        background: #fc9311;
        color: white;
      }
    }
    .healthTag {
      display: flex;
      flex-wrap: wrap;
      .healthButton {
        background: #fc9211e7;
        color: rgba(255, 255, 255, 0.836);
        border: none;
        margin: 5px 5px 5px 0px;
        font-size: 0.7em;
        font-weight: bold;
        border-radius: 5px;
        font-family: "Source Sans Pro", sans-serif;
      }
    }
  }
}
