.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchQuery {
  margin: 20px;
  width: 500px;
  height: 25px;
  text-align: center;
}
.submitButton {
  width: 250px;
  height: 25px;
  font-weight: bold;
  font-size: 13px;
}
